/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.env
/.DS_Store
/lib/.DS_Store
/lib/royal_mail_api/.DS_Store
/spec/support/fixtures/.DS_Store
/spec/support/fixtures/vcr_cassettes
/*.gem
/.idea/
